<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- INCLUIR BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>REGISTRO</title>

    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}">
</head>

<body>
    <!--------------------------------SECCION DE NAVBAR-------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light bd-light fixed-top custom-navbar">
      <div class="container">
          <a href="{{ url_for('index') }}" class="navbar-brand" style="color: white;">Beautiful Salon</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-start"
              aria-controls="navbar-start" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-start">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a href="{{ url_for('carrito') }}" class="nav-link" style="color: white;"><i class="bi bi-cart"></i></a>
                  </li>
                  <li class="nav-item">
                      <a href="{{ url_for('index') }}" class="nav-link" style="color: white;">INICIO</a>
                  </li>
                  <li class="nav-item">
                      <a href="{{ url_for('productos') }}" class="nav-link" style="color: white;">Productos</a>
                  </li>
                  <li class="nav-item">
                      <a href="{{ url_for('cita') }}" class="nav-link" style="color: white;">Agendar cita</a>
                  </li>
                  <li class="nav-item">
                      <a href="{{ url_for('login') }}" class="nav-link" style="color: white;">Iniciar sesión</a>
                  </li>
              </ul>

          </div>
      </div>
  </nav>
  <!--------------------------------------------------------------------------------->
    
    <body>
      <div class="wrapper">
        <div class="login">
          <div class="content">
            <span class="login-title">
              INICIO DE SESION
            </span>
            <span class="instructions">
              BIENVENIDO, PORFAVOR INGRESA TUS DATOS
            </span>
            <form class="form">
            <label>
                <span>Correo</span>
                <input type="email" name="mail" class="miniform">
            </label>
    
            <label>
              <span>Contraseña</span>
                <input type="password" name="Password" class="miniform">
            </label>
              
              <div class="aditional">
                     <div class="checkbox-container">
                       <input type="checkbox">
                       <label for="checkbox">Recuerdame</label>
                     </div>
                     <a href="#" class="password">Olvidaste la contraseña?</a>
                   </div>
              
            <div class="btn">
              <button class="btn-login">
                Iniciar sesion
              </button>
              <button class="signup" onclick="redirectRegistro()">Registrarme</button>
              <script>
                  function redirectRegistro() {
                      window.location.href = "{{ url_for('registro') }}";
                  }
              </script>
              </button>
            </div>
              
            <div class="tyc">
              Al registrarse en Beautiful Salon estas de acuerdo con nuestros<a class="link-tyc" href="#"> Terminos y condiciones</a> y nuestra<a class="link-tyc" href="#"> Politica de privacidad.</a>
            </div>
              
          </div>
        </div>
      </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    
    <script>
          
      var registroBtn = document.getElementById("registroBtn");
  
          
      registroBtn.addEventListener("click", function() {
            
        window.location.href = "{{ url_for('registro') }}";

      });
    </script>

    
</body>

</html>