/*----------------NAVBAR---------------------*/
.custom-navbar {
    background-color: #8A5F5F;
    position: sticky;
    top: 0;
    z-index: 1000;
}
/*-------------------------------------------*/

/* Estilos personalizados para la página de cita */
body {
    background: linear-gradient(to right, #8A5F5F, #5F477A); 
    color: rgb(0, 0, 0);
}

.appointment-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

#preferences {
    height: 200px; 
    resize: none; 
}

.mt-5 {
    margin-top: 7rem!important;
}

.price{
    color: rebeccapurple;
}

.red-text {
    color: red;
}
